@-moz-viewport{width: device-width; scale: 1;}
@-ms-viewport{width: device-width; scale: 1;}
@-o-viewport{width: device-width; scale: 1;}
@-webkit-viewport{width: device-width; scale: 1;}
@viewport{width: device-width; scale: 1;}

html{
	background-image: url(../img/dark-geometric.png);
	background-repeat: repeat;
}

body {
	font: normal 100%/1.4 Helvetica, sans-serif;
	text-align: center;
}
header{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 4px #999999;
}

h1{
	font-size: 26pt;
	font-family: Georgia, serif;
	padding-top: 0.5em;
	margin:0;
}
header p{
	font-size: 9.5pt;
	margin: 0;
	display: inline;
}

.designer {
	color:#ff8b4a;
	margin: 0;
}
.artist{
	color: #72a168;
	margin: 0;
}

.illustrator{
	color: #a92f2d;
	margin: 0;
}

nav{
	background-color: #fff;
	border-radius: 0.5em;
	box-shadow: 0px 3px 3px #999999;
	margin-bottom: 0.5em;
}

.wrapper{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 4px #999999;
}

figure{
	width: 100%;
	margin:0;
	padding:0;
}

.bottom{
	display:none;
}

.logo {
	width: 100%;
}

.logo-list{
	list-style-type:none;
	padding: 0;
	margin: 0;
}

li{
	display: inline;
	padding:0;

}

.content{
	font-size: 10pt;
	text-align: center;
	letter-spacing: 0.4pt;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

p{
	margin-top: 0;
}
.contact-list{
	padding:0;

}

.email{
	padding-right:0.3;
}

.phone{
	padding-right:0.2em;
}

.desktopOnly{
	display:none;
}

footer{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 6px #999999;
	margin-top: 1em;
}

footer p {
	padding: 0.5em;
	font-size: 9pt;
}

@media only screen and (min-width: 25em) {


@media only screen and (min-width: 30em) {


@media only screen and (min-width: 35em) {



@media only screen and (min-width: 60em) {

