@-moz-viewport{width: device-width; scale: 1;}
@-ms-viewport{width: device-width; scale: 1;}
@-o-viewport{width: device-width; scale: 1;}
@-webkit-viewport{width: device-width; scale: 1;}
@viewport{width: device-width; scale: 1;}

body {
	background-image: url(../img/dark-geometric.png);
	background-repeat: repeat;
	font: normal 100%/1.4 Helvetica, sans-serif;
	text-align: center;
}

.nav{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 6px #999999;
	margin-bottom: 0.5;
}

.bio{
	padding: 0.5em;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: left;
}

figure{
	margin:0;
}

article{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 4px #999999;
	overflow: hidden;
}

h1{
	font-size: 26pt;
	font-family: Georgia, serif;
	padding-top: 0.5em;
	margin:0;
}

h2{
	color: #CCC;
	font-size: 18pt;
	padding-top: 1.5em;
	font-family: Georgia, serif;
	letter-spacing: 4px;
	margin: 0;
}

.banner{
	width: 100%;
	margin:0;
}

header p{
	font-size: 9.5pt;
	margin: 0;
	display: inline;
}

.image-gallery{
	margin-top: 0.5em;
}

ul{
	list-style-type:none;
	display: inline;
	padding: 0;
	margin:0;
}

li p{
	font-size: 11px;
	margin: 0;
	padding-bottom: 0.5em;
}

.black-keys{
	width: 90%;
	max-width: 650px;
}

.tea-tins{
	width: 90%;
	max-width: 650px;
}

.bottles{
	width: 90%;
	max-width: 650px;
}

figcaption{
	font-size: 9pt;
	margin-bottom: 0.5em;
	padding: 0;
}
.designer {
	color:#ff8b4a;
	margin: 0;
}
.artist{
	color: #72a168;
	margin: 0;
}

.illustrator{
	color: #a92f2d;
	margin: 0;
}

footer{
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 0px 3px 6px #999999;
	margin-top: 1em;
}

footer p {
	padding: 0.5em;
	font-size: 9pt;
}

@media only screen and (min-width: 25em) {

h1{
	font-size: 30pt;
}

h2{
	font-size: 19pt;
}

header p{
	font-size: 11pt;
}

}


@media only screen and (min-width: 35em) {

h1{
	font-size: 35pt;
}

h2{
	font-size: 20pt;
}

header p{
	font-size: 12pt;
	
}

}

@media only screen and (min-width: 60em) {


h1{
	font-size: 35pt;
}

.image-gallery{
	margin-bottom: 1em;
}

li{
	display: inline;
}

.black-keys{
	max-width: 460px;
	padding-right: 1em;
}

.tea-tins{
	margin: 0;
	max-width: 440px;
	padding-right: 1em;
}


.bottles{
	max-width: 440px;
}

li p{
	display: none;
}

footer{
	margin-top: 1em;
}
	
}


