---
layout:default
---
<h1>Gallery</h1>
		<div class="title">
			<figure>
				<img src="img/background.png" alt="" class="banner">
			</figure>
		</div>

<ul>
		{% for gallery in site.pages %}
			{% if gallery.category == "gallery" %}
				<img src="img/{{gallery.thumb}}" alt="">
				<strong><li>{{gallery.name}}</li></strong>
			{% endif %}
		{% endfor %}
</ul>
       </div>
	<div class="image-gallery">
		<ul class="images">
			<li><a href="img/black-keys-big.png" target="_blank"><img class="black-keys" src="img/black-keys.png"/></a><p><em>Applied Arts magazine — Black Keys article</em></p></li>
			<li><a href="img/tea-tins-big.png" target="_blank"><img class="tea-tins" src="img/tea-tins.png"/></a><p><em>Oil on Canvas — Kusmi Tea</em></p></li>
			<li><a href="img/bottles-big.png" target="_blank"><img class="bottles" src="img/bottles.png"/></a><p><em>Oil on Canvas — Bottles</em></p></li>
		</ul>
	</div>
