<!Doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Responsive Bio Page</title>
 		<link href="css/general.css" rel="stylesheet">
    	<meta name="handheldfriendly" content="true">
    	<meta name="mobileoptimized" content="240">
    	<meta name="viewport" content="width=device-width;initial-scale=1">
	</head>

<body>
	<header>
		<h1>jessica hay</h1>
		<p class="designer">designer</p><p> · </p><p class="artist">artist</p><p> · </p><p class="illustrator">illustrator</p>
	</header>
		<nav>
			<ul class="nav">
				<li><a href="index.html">Bio</a></li>
				<li><a href="gallery.html">Gallery</a></li>
			</ul>
		</nav>
	</header>

{{content}}

		<ul class="logo-list">
			<li><a href="https://www.facebook.com/jessica.hay.353" target="_blank"><img src="img/facebook.png"></a></li>
			<li><a href="https://twitter.com/2Hayj"><img src="img/twitter.png" target="_blank"></a></li>
			<li><a href="http://www.linkedin.com/pub/jessica-hay/44/402/79b" target="_blank"><img src="img/linkedin.png"></a></li>
			<li><a href="http://vimeo.com/user11433538"><img src="img/vimeo.png" target="_blank"></a></li>
			<li><a href="http://instagram.com/2hayj"><img src="img/instagram.png" target="_blank"></a></li>
		</ul>
	<footer>
		<p>Copyright © 2013 | <a href="http://www.jessicahay.ca" >www.jessicahay.ca</a></p>
	</footer>
</body>
</html>
